* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar start */

.header-container1 {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);
    background: linear-gradient(0deg, #FFF 7.93%, rgba(74, 153, 211, 0.00) 500%), #FC0B0D;
    height: 124px;
    flex-shrink: 0;

}

.navbar-content {
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}


ul,
li {
    margin-left: 90px;
    align-items: center;
    text-align: center;
    /* margin-top: 47px; */
    display: flex;
    list-style: none;
    color: #0F001A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* gap: 20px; */
}

.navbar-menu {
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.navbar-logo {
    margin-left: 10px;
    width: 191px;
    height: 40px;
    color: #4A99D3;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-logo-cantainer {
    margin: 0 auto;
}

.navbar-text2 {
    margin-left: 101px;
    margin-top: px;
    cursor: pointer;
}

.navbar-text1 a {
    text-decoration: none;
    color: #0F001A;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navbar-text1 {
    margin-left: 200px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-text1 img {
    margin-top: -2px;
}

/* navbar end */


/* header start */

.h__content{
    margin-top: 23px;
}

.header-container {
    margin: 0 auto;
    background: #EAF6FF;
    width: 1297px;
    height: 364.781px;
    flex-shrink: 0;

}

.header-container {
    position: relative;
}

.header-title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 503px;
    position: absolute;
    top: 63px;
    left: 165px;
}

input {

    margin-left: 96px;
    margin-top: 190px;
    width: 575px;
    height: 69px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid #FC0B0D;
    background: rgba(252, 11, 13, 0.00);
}

.input-content {
    position: relative;
}

.input-img1 {
    position: absolute;
    left: 119px;
    top: 210px;
}

.input-img2 {
    position: absolute;
    top: 205px;
    left: 605px;
}

.header-3img {
    position: relative;
}

.img07 {
    position: absolute;
    top: -210px;
    left: 773px;
}

/* header end */

/* header start flur */






.flur-home {
    position: relative;
}

.flur-img {
    width: 592px;
    height: 562px;
    flex-shrink: 0;
}

.header-flur {
    width: 1350px;
    height: 764px;
    border-radius: 28px 0px 0px 28px;
    background: #FAFBFC;
    margin: 0 auto;
}

.header-img {
    position: relative;
}

.flur-container {
    margin-left: 47px;
    margin-top: 192px;
}

.home-back {
    position: absolute;
    top: 20px;
    left: 30px;
    display: inline-flex;
    align-items: center;

}

.header__texts {
    position: relative;
}

.text__1 {
    color: #000;
    font-family: "Manrope";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: -480px;
    left: 680px;
}

.text__2 {
    color: #FC0B0D;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: -440px;
    left: 680px;
}

.text__3 {
    color: #50CC98;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 125% */
    letter-spacing: 1.98px;
    position: absolute;
    top: -370px;
    left: 680px;
}




.text__4 {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    /* 125% */
    letter-spacing: 0.24px;
    position: absolute;
    top: -320px;
    left: 680px;
}

.text__5 {
    max-width: 418px;
    color: #000;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 177.994%;
    letter-spacing: 0.24px;
    position: absolute;
    top: -290px;
    left: 680px;
}


.flur-end {
    width: 518px;
    height: 136px;
    flex-shrink: 0;
    /* background-color: #fff; */
    background: rgba(234, 246, 255, 0.39);
    position: absolute;
    top: -155px;
    left: 680px;
}

.group__user {
    color: var(--colors-black, #18191F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    position: absolute;
    top: 1px;
    left: 35px;
}

.user-img {
    position: absolute;
    left: 43px;
    top: 25px;
}

.f__text {
    color: var(--colors-black, #18191F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    position: absolute;
    top: 70px;
    left: 35px;
}


.f__text1 {
    color: var(--colors-black, #18191F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    position: absolute;
    left: 103px;
    top: 35px;
}

.f__text2 {
    color: var(--colors-black, #18191F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    position: absolute;
    top: 70px;
    left: 215px;
}

.f__btn-img img{
    position: absolute;
    top: 7px;
    left:60px;
}


.f__btn-img {
    position: absolute;
    top: 110px;
    left: 190px;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 12.353px;
    width: 271px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EB3223;
    border: none;
    text-align: center;
    cursor: pointer;
}

/* header end flur */


/* futer start */

.futer {
    margin-top: 110px;
}

.futer-content {
    margin: 0 auto;
    width: 1399px;
    height: 404px;
    background: #EAF6FF;
}

.futer-img1 {
    margin-top: 60px;
    margin-left: 70px;
}

.futer-text1 {
    margin-left: 70px;
    margin-top: 30px;
    width: 610px;
    height: 110px;
    flex-shrink: 0;
    color: #504A41;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.futer2-peych {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 859px;
    margin-top: -192px;
    cursor: pointer;
}

.futer3-peych {
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 1170px;
    margin-top: -30px;
    cursor: pointer;
}

.futer-peychs {
    position: relative;
}

.call2-peych {
    margin-top: -25px;
    margin-left: 890px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.call-futer {
    position: absolute;
    top: -1px;
    left: 845px;
}

.futer-img2 {
    position: absolute;
    top: 60px;
    left: 845px;
}

.futer-text2 {
    position: absolute;
    top: 60px;
    left: 890px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.futer-img3 {
    position: absolute;
    top: 120px;
    left: 845px;
}

.futer-text3 {
    position: absolute;
    top: 120px;
    left: 890px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.futer2-peych-text1 {
    margin-left: 1170px;
    margin-top: -30px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.futer2-peych-text2{
    margin-left: 1170px;
    margin-top: 30px;
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* futer end */